.card {
  background-color: #999;
  margin: 15px;
  padding: 10px;
}

.card .card--body {
  padding: 15px;
}

.card .card--header {
  font-size: 1.5em;
  height: 20px;
  width: 100%;
  text-align: center;
}

.mg-20 {
  margin: 20px;
}
